/*
font-family: 'Palanquin', sans-serif;
font-family: 'Staatliches', cursive;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --ff-heading: 'Staatliches', sans-serif;
  --ff-texting: 'Palanquin', sans-serif;

  --bg-primary: hsl(218, 17%, 62%);
  --bg-secundary: hsl(233, 100%, 97%);
  --bg-title: hsl(275, 18%, 79%);
  --bg-subtitle: hsl(312, 91%, 96%);

  --fc-primary: hsl(0, 0%, 100%);
  --fc-secundary: hsl(232, 17%, 35%);
  --fc-terciary: hsl(274, 84%, 12%);

  font-size: 62.5%;
  --fs-title: 4rem;
  --fs-subtitle: 2rem;
  --fs-text: 2rem;
}


header{
  font-family: var(--ff-heading);
  background-color: var(--bg-primary);

  text-align: center;
  padding: 2.9rem 0;
  margin-bottom: 1.4rem;
  
  
}

header h1{
  background-color: var(--bg-title);
  color: var(--fc-primary);
  
  font-weight: 400;
  font-size: var(--fs-title);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  
  margin-bottom: 1.4rem;
  
}

h2{
  font-family: var(--ff-heading);
  color: var(--fc-secundary);
  background-color: var(--bg-subtitle);

  font-weight: 400;
  font-size: var(--fs-subtitle);
  line-height: 3.4rem;
  letter-spacing: 0.05em;

  width: 11.2rem;
  border-radius: 2rem;

  padding: 0 2.4rem;
}

p{
  font-family: var(--ff-texting);
  color: var(--fc-terciary);
  font-size: var(--fs-text);
  font-weight: 400;
  line-height: 1.5rem;

  

  text-align: center;
}

body{
  background-color: var(--bg-secundary);
}

.page{
  max-width: 33rem;
  margin: 0 auto;
}

img{
  width: 100%;
  height: auto;
}

img:hover{
  transform: scale(1.1);
  opacity: 0.7;

}

.cards{
  position: relative;
  margin-bottom: 3.2rem;
}

.card{
  position: relative;
  margin-bottom: 3.2rem;
}

.cards img{
  height: 45rem;
  border-radius: 2rem;
  object-fit: cover;

  transition-property: transform;
  transition-duration: 202ms;
  transition-timing-function: ease;
}

.card img{
  height: 25rem;
  border-radius: 2rem;
  object-fit: cover;

  transition-property: transform;
  transition-duration: 202ms;
  transition-timing-function: ease;
}

.cards h2{
  position: absolute;
  bottom: 39.9rem;
  left: 19.2rem;
}

.card h2{
  position: absolute;
  bottom: 19.9rem;
  left: 19.2rem;
}

header{
  animation: topdown 700ms;
}

main{
  animation: downtop 700ms 350ms reverse backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  
  }

  100%{
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes downtop{
  100%{
    opacity: 0;
    transform: translateY(15px);
  }
}

@media (min-width: 700px) {
  :root{
    font-size: 62.5%;

  --fs-title: 4.8rem;
  --fs-text: 24px;
  }
  
  .page{
    max-width: 1170px;
    display: flex;
    padding: 0 5rem;
    gap:98px;
  }
  
  header{
    width: 377px;

  }

  header h1{
    padding: 20px 0;
  }

  header p{
    color: var(--fc-primary);
    line-height: 20px;
    margin: 0 50px;
    width: 275px;
    align-items: center;
    text-align: center;
  }

  main{
    padding: 64px 0;
    display: grid;

    gap: 32px;
    grid-template-areas: 
    "A B"
    "C B"
    "C D";
    
    
  }

  main div:nth-child(1) {
    grid-area: A;
       
    
  }
  
  main div:nth-child(2) {
    grid-area: B;
    
  }
  
  main div:nth-child(3) {
    grid-area: D;
    

  }
  
  main div:nth-child(4) {
    grid-area: C;
    
  }





}